{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'style.css' %}" rel="stylesheet">
    </head>
    <body>

        <nav>
            <div class="nav">
            <div class="logo">
                <p><b>MapIk</b> </p>
            </div>
             <div>
            <ul class="nav-mainlink">
                <li>
                    <a class="navlink" href="Home">Home</a>
                    <a class="navlink" href="about">About</a>
                    <a class="navlink" href="contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
        </nav>
    
        {% block content %}


        {% endblock %}


    </body>
</html>